@model IEnumerable<BudgetTracker.Models.Category>

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Allocated Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.AllocatedAmount</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", "Category", new { id = category.Id })">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

